body {
    margin: 0;
    overflow: hidden; /* Hide overflow to prevent scrolling */
}

#book {
    display: flex;
    perspective: 1000px;
    height: 100vh;
}

.page {
    width: 100vw; /* Make each page take up the full viewport width */
    transform-style: preserve-3d;
    transition: transform 1s;
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    backface-visibility: hidden;
}

.page:nth-child(2n) {
    transform: rotateY(180deg);
}

.page .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-container {
    position: relative;
}

.profile-photo {
    width: 100vw; /* Make the image take up 100% of the viewport width */
    height: 100vh; /* Make the image take up 100% of the viewport height */
    object-fit: cover; /* Ensure the image covers the entire container */
}

/* Container for the journey content */
.journey-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

/* Add more styling as needed */
